
@{
    ViewBag.Title = "SiteInfoView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Indxxxxxxxxxxxxxxxex</title>
</head>
<body>
</body>
</html>

